{% load staticfiles %}
{% load i18n %}   <!--Esto es para la internacionalización-->
{% load avatar_tags %}

{% block head_added %}
<link href="{% static "css/inc.menu.css" %}" rel="stylesheet">
{% endblock %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top" id="navbar">
      <div class="container">
        <div class="class_logo">
          <a href="{% url "muro" %}"><img src="{% static "img/logo_4.png" %}" alt="..." id="logo" title="Inicio"></a>
        </div>
        <div class="logueado">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <img src="{% static "img/admin.png" %}" alt="..." class="admin">
                {% endif %} 
                <img src="{% avatar_url user %}" class="img-circle miniatura_usuario">
                <!--<label>{{ user.username }}</label>-->
                <div class="div_logout">
                  <a href="{% url "account_logout" %}"><img src="{% static "img/logout.png" %}" alt="..." class="logout" id="logout"></a>
                </div>
                <div class="div_nombre_usuario">
                  <li class="dropdown">
                    {% if user.first_name == '' %}
                      <a href="#?" class="dropdown-toggle nombre_usuario2">
                        {{ user.username }}
                      </a>
                    {% else %}
                      <a href="#?" class="dropdown-toggle nombre_usuario" data-toggle="dropdown">
                        {{ user.username }} &#9660;
                      </a>
                    {% endif %}
                    <ul class="dropdown-menu">
                      <li><a href="{% url "editar_perfil" %}" class="editar">Editar</a></li>
                    </ul>
                  </li>
                </div>
            {% endif %}
        </div>
      </div>
    </nav>