Django==1.8.13
Pillow==3.2.0
Unidecode==0.4.19
argparse==1.4.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
defusedxml==0.4.1
django-ajax-selects==1.4.3
django-allauth==0.25.2
django-appconf==1.0.2
django-autocomplete-light==3.1.5
django-autoslug==1.9.3
django-avatar==3.0.0
django-bootstrap3==7.0.1
django-bootstrap3-datetimepicker==2.2.3
django-cities-light==3.2.0
django-datetime-widget==0.9.3
django-debug-toolbar==1.4
django-el-pagination==2.1.2
django-embed-video==1.1.0
django-location-field==2.0.0b0
django-macros-url==0.2.0
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
oauthlib==1.0.3
pexpect==4.1.0
pickleshare==0.7.2
progressbar2==3.6.2
ptyprocess==0.5.1
python3-openid==3.0.10
pytz==2016.4
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.19
traitlets==4.2.1
