{% load i18n avatar_tags %}

{% block content %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">X</button>
  <h1>Cambiar imagen de perfil</h1>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        {% avatar user %}

        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" class="form">
          {% csrf_token %}

          {{ upload_avatar_form.avatar }}
          <input type="submit" class="btn" id="subir-imagen" value="{% trans "Upload New Image" %}" />

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function ($) {
    var pluginName = 'bootstrapFileInput';
    var defaults = {
      size: 'md',
      btnPosition: 'right',
      btnType: 'btn-default',
      btnText: 'Seleccionar archivo'
    };

    function BootstrapFileInput(element, options) {
      this._element = element;
      this._options = $.extend({}, defaults, options);
      this._name = pluginName;

      this.init();
    }

    BootstrapFileInput.prototype.init = function () {
      var fileUpload = $(this._element);
      var inputGroup = $('<div class="input-group" />');
      var buttonGroup = $('<span class="input-group-btn" />');
      var input = $('<input type="text" readonly class="form-control" />');
      var button = $('<button type="button" class="btn" />')
      .text(this._options.btnText)
      .addClass(this._options.btnType);

      if (this._options.size === 'sm') {
       inputGroup.addClass('input-group-sm');
     } else if (this._options.size === 'lg') {
      inputGroup.addClass('input-group-lg');
    }

    fileUpload.hide();
    buttonGroup.append(button);

    if (this._options.btnPosition === 'left') {
      inputGroup.append(buttonGroup);
      inputGroup.append(input);
    } else {
      inputGroup.append(input);
      inputGroup.append(buttonGroup);
    }

    inputGroup.insertAfter(fileUpload);

    button.on('click', function () {
      fileUpload.click();
    });

    fileUpload.on('change', function () {
      input.val(fileUpload.val().split('/').pop().split('\\').pop());
    });
  };

  $.fn.bootstrapFileInput = function (options) {
    return this.each(function () {
      if (!$.data(this, 'plugin_' + pluginName) && this.tagName === 'INPUT' && this.type === 'file') {
        $.data(this, 'plugin_' + pluginName);
        new BootstrapFileInput(this, options);
      }
    });
  };

}(jQuery));

  $('#id_avatar').bootstrapFileInput({
    size: 'sm',
    btnPosition: 'left'
  });

</script>

{% endblock %}
