body {
  background-image: url("../img/fondo-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 481px;
}
.container .class_logout {
  background-color: #fff;
  border: 8px solid #fc8608;
  border-radius: 20px;
  padding: 10px;
  margin-top: 120px;
  margin-bottom: 70px;
  margin-left: 5%;
  width: 90%;
  box-shadow: 5px 5px 5px #afafaf, rgba(220,220,220,0.65) 3px 3px 13px 2px inset;
}
.container .class_logout h1 {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #5fceca;
  text-shadow: 1px 1px 0px #c0c0c0;
}
.container .class_logout p {
  text-align: center;
  font-weight: bold;
  color: #fc8608;
}
#cerrar_sesion{
  width: 100%;
  background-color: #5fceca;
  border: 1px solid #37b4af;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0px #727171;
  margin-top: 10px;
}
#cerrar_sesion:hover {
  -webkit-filter: brightness(85%);
}

@media (min-width: 350px) {
  .container {
    min-height: 510px;
  }
  .container .class_logout {
    width: 80%;
    margin-left: 10%;
  }
}
@media (min-width: 400px) {
  .container {
    min-height: 530px;
  }
  .container .class_logout {
    width: 80%;
    margin-left: 10%;
  }
}
@media (min-width: 500px) {
  .container .class_logout {
    width: 60%;
    margin-left: 20%;
  }
}
@media (min-width: 700px) {
  .container .class_logout {
    width: 50%;
    margin-left: 25%;
  }
}
@media (min-width: 800px) {
  .container .class_logout {
    width: 40%;
    margin-left: 30%;
  }
}
@media (min-width: 992px) {
  .container {
    min-height: 484px;
  }
  .container .class_logout {
    width: 30%;
    margin-left: 35%;
  }
}
@media (min-width: 1200px) {
  .container {
    min-height: 524px;
  }
  .container .class_logout {
    width: 30%;
    margin-left: 35%;
  }
}