#navbar {
  background-color: #fc8608;
  color: #000;
  height: 0px;
  border-bottom: 2px solid #e27603;
}
#logo {
  width: 90px;
  margin-left: 0%;
}
.class_logo {
  margin-top: 3%;
  display: inline-block;
}
.logueado {
  margin-top: 2%;
  float: right;
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 15px;
}
.admin {
  width: 20px;
}
.div_logout{
  float: right;
}
.logout {
  width: 27px;
  margin-left: 10px;
  float: right;
}
.logout:hover {
  -webkit-filter: brightness(85%);
}
.miniatura_usuario{
  width: 34px;
  border: 2px solid white;
}
.div_nombre_usuario{
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.div_nombre_usuario li{
  list-style: none;
}
.dropdown-menu{
  background: #5fceca !important;
  min-width: 10px !important;
}
.editar{
  background: #5fceca !important;
  font-size: 14px !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: #fff !important;
}
.editar:hover{
  color: #EAEAEA !important;
}
.nombre_usuario{
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nombre_usuario:hover{
  color: #EAEAEA;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nombre_usuario:focus{
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nombre_usuario2{
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nombre_usuario2:hover{
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nombre_usuario2:focus{
  color: #fff;
  /*text-shadow: 1px 1px 0px #727171;*/
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 350px) {
  .miniatura_usuario{
    visibility: hidden;
  }
}
@media (min-width: 600px) {
  #logo {
    width: 110px;
    margin-left: 0%;
    margin-top: -6%;
  }
  .logueado {
    margin-top: 1.5%;
  }
  .logout {
    width: 30px;
  }
}
@media (min-width: 768px) {
  #logo {
    width: 130px;
    margin-left: -1%;
    margin-top: -12%;
  }
  .logueado {
    margin-top: 1%;
    font-size: 16px;
  }
  .logout {
    width: 32px;
  }
  .admin {
    width: 22px;
  }
}
@media (min-width: 992px) {
  #logo {
    width: 130px;
    margin-left: -1%;
    margin-top: -20%;
  }
  .logueado {
    margin-top: 0.8%;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  #logo {
    width: 130px;
    margin-left: -1.5%;
    margin-top: -30%;
  }
  .logueado {
    margin-top: 0.7%;
    font-size: 16px;
  }
}
