.muro{
	width: 100%;
	margin-left: 0%;
	margin-top: -20px;
	margin-bottom: -10px;
	color: #B0B0B0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,ffffff+50&0+0,1+10,1+90,0+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

#completar {
  width: 37%;
  height: 30px;
  background-color: #5fceca;
  border: 1px solid #37b4af;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0px #727171;
  margin-top: 40px;
  margin-right: 8%;
  margin-bottom: 0px;
  float: right;
  position: relative;
  padding: 0px;
}

#completar:hover {
    -webkit-filter: brightness(85%);
}

.publicacion{
	width: 85%;
	margin-left: 7.5%;
	margin-bottom: 20px;
	border: 2px solid #5fceca;
	border-radius: 20px;
	padding: 15px;
	box-shadow: rgba(220,220,220,0.65) 3px 3px 13px 2px inset;
}

.fecha_hora{
	float: right;
	font-size: 12px;
}

.titulo_publicacion{
	font-weight: bolder;
	color: #8B8B8B;
	font-size: 20px;
	margin-top: 35px;
}

hr{
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

.video_publicacion{
	margin-bottom: 15px;
}

.imagen_publicacion{
	margin-bottom: 15px;
}

.texto_publicacion{
	width: 90%;
	margin-left: 5%;
	margin-top: -10px;
}

.paginacion{
	margin-left: 7.5%;
	margin-top: -20px;
}

/* Dispositivos pequeños (tablets, anchura mayor o igual a 768px) */
@media (min-width: 320px) {
	#completar {
	  width: 39%;
	  height: 25px;
	  font-size: 12px;
	  margin-right: 8%;
	  margin-bottom: 0px;
	}
}
@media (min-width: 600px) {
	.muro{
		width: 90%;
		margin-left: 5%;
	}
	#completar {
	  width: 25%;
	}
}
@media (min-width: 768px) {
	.muro{
		width: 90%;
		margin-left: 5%;
	}
	#completar {
	  width: 25%;
	  margin-right: 12.5%;
	}
	.publicacion{
		width: 75%;
		margin-left: 12.5%;
	}
	.paginacion{
		margin-left: 12.5%;
	}
}
/* Dispositivos medianos (ordenadores, anchura mayor o igual a 992px) */
@media (min-width: 992px) {
	.muro{
		width: 90%;
		margin-left: 5%;
	}
	#completar {
	  width: 15%;
	  height: 25px;
	  margin-right: 22.5%;
	}
	.publicacion{
		width: 55%;
		margin-left: 22.5%;
	}
	.paginacion{
		margin-left: 22.5%;
	}
}
/* Dispositivos grandes (ordenadores, anchura mayor o igual a 1200px) */
@media (min-width: 1200px) {
	.muro{
		width: 90%;
		margin-left: 5%;
	}
	#completar {
	  width: 15%;
	  height: 25px;
	  margin-right: 22.5%;
	}
	.publicacion{
		width: 55%;
		margin-left: 22.5%;
	}
	.paginacion{
		margin-left: 22.5%;
	}
	.titulo_publicacion{
		font-size: 22px;
	}
}