{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %} 	#Esto es para la internacionalización
{% load bootstrap3 %}

{% block head_added %}
    {{ evento_form.media }}
{% endblock %}

{% block content %}

<main class="container" id="login">
  <div class="class_registro" id="div_registro">
			<form action="." method="post" class="evento_form" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			
			{{ evento_form.titulo }}
			{{ evento_form.imagen }}
			{{ evento_form.fecha_hora }}
			{{ evento_form.descripcion }}
			{{ evento_form.precio }}
			{{ evento_form.max_participantes }}
			{{ evento_form.direccion }}
			{{ evento_form.localizacion }}

			<div class="div_deportes">
					<label class="titulo">Selecciona tus deportes favoritos</label>
					<hr class="hr_deportes">
					<div data-toggle="buttons"> 
					{% for checkbox in evento_form.deportes %}
	    				<label class="btn btn2-primary" style="position: relative;">
	    				{{ checkbox.tag }} {{ checkbox.choice_label }}
	    				</label>
					{% endfor %}
					</div>
				</div>

			{% buttons %}
		        <button class="btn" id="completar" type="submit">Crear Evento</button>
		    {% endbuttons %}

			</form>
	</div>
</main>

    <script>
    	$("input[name='deportes']" ).on('change', function(){
    		if($(this).is(':checked')){
    			$(this).parent().append('<div class="opacidad" id="opacidad" alt="" ></div> ');
    			$(this).parent().append('<img src="{% static "img/tick.png" %}" class="chekeo" id="checkeo" alt="" /> ');
    		} else {
    			$(this).parent().find('.chekeo').hide();
    			$(this).parent().find('.opacidad').hide();
    		}
    	});
    </script>

{% endblock %}