{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %} 	#Esto es para la internacionalización
{% load bootstrap3 %}

{% block head_added %}
    <link href="{% static "css/registro_perfil.css" %}" rel="stylesheet">
    {{ busqueda_form.media }}
{% endblock %}

{% block content %}

				<form action="." method="GET" class="user_form" role="form">
				{% csrf_token %}

				{% if busqueda_form.errors %}
                {% for error in busqueda_form.non_field_errors %}
	            <div class="alert alert-error" id="alert-error">
	                <strong>&bull; {{ error|escape }}</strong>
	            </div>
	            {% endfor %}
	            {% endif %}

				<div class="div_deportes">
					<label class="titulo">Selecciona los deportes de tu búsqueda</label>
					<hr class="hr_deportes">
					<div data-toggle="buttons"> 
					{% for checkbox in busqueda_form.deportes %}
	    				<label class="btn btn2-primary" style="position: relative;">
	    				{{ checkbox.tag }} {{ checkbox.choice_label }}
	    				</label>
					{% endfor %}
					</div>
				</div>
				{% for error in busqueda_form.pais.errors %}
	            	<div class="alert alert-error" id="alert-error"> <strong>&bull; {{ error|escape }}</strong>
	            	</div>
	            {% endfor %}
				<label class="titulo">País</label>
            	<div id="div_id_country" class="form-group">
	                <div class="controls ">
	                    <div class="input-group">
	                        <div class="input-group-addon"> <i class="glyphicon glyphicon-flag"></i>
	                        </div>
	                        {{ busqueda_form.pais }}
	                    </div>
	                </div>
            	</div>
				{% for error in busqueda_form.ciudad.errors %}
	            	<div class="alert alert-error" id="alert-error"> <strong>&bull; {{ error|escape }}</strong>
	            	</div>
	            {% endfor %}
				<label class="titulo" id="label_ciudad">Ciudad o localidad</label>
            	<div id="div_id_city" class="form-group">
	                <div class="controls ">
	                    <div class="input-group">
	                        <div class="input-group-addon"> <i class="glyphicon glyphicon-flag"></i>
	                        </div>
	                        {{ busqueda_form.ciudad }}
	                    </div>
	                </div>
            	</div>

            	{% buttons %}
		        	<button class="btn" id="completar" type="submit">Buscar
		        	</button>
		    	{% endbuttons %}

            </form>


    <script>
    	$("input[name='deportes']" ).on('change', function(){
    		if($(this).is(':checked')){
    			$(this).parent().append('<div class="opacidad" id="opacidad" alt="" ></div> ');
    			$(this).parent().append('<img src="{% static "img/tick.png" %}" class="chekeo" id="checkeo" alt="" /> ');
    		} else {
    			$(this).parent().find('.chekeo').hide();
    			$(this).parent().find('.opacidad').hide();
    		}
    	});
    </script>
    <script>
    	$("select[name='pais']" ).on('change', function(){
    		document.getElementById('label_ciudad').style.display = "initial";
    		document.getElementById('div_id_city').style.display = "initial";
    		//$("select[name='ciudad']" ).style.display = initial;
    	});
    </script>
{% endblock %}