{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %} 	#Esto es para la internacionalización
{% load bootstrap3 %}

{% block content %}

<main class="container" id="login">
  <div class="class_registro" id="div_registro">
			<form action="." method="post" class="publicacion_form" role="form" enctype="multipart/form-data">
			{% csrf_token %}

			<label class="titulo">Título</label>
				<div id="div_id_name" class="form-group">
	                <div class="controls ">
	                    <div class="input-group">
	                        <div class="input-group-addon"> <i class="glyphicon glyphicon-user"></i>
	                        </div>
	       					{{ publicacion_form.titulo }}
	                    </div>
	                </div>
            	</div>

            <label class="titulo">Video</label>
				<div id="div_id_name" class="form-group">
	                <div class="controls ">
	                    <div class="input-group">
	                        <div class="input-group-addon"> <i class="glyphicon glyphicon-user"></i>
	                        </div>
	       					{{ publicacion_form.video }}
	                    </div>
	                </div>
            	</div>

            <label class="titulo">Imagen</label>
				<div id="div_id_name" class="form-group">
	                <div class="controls ">
	                    <div class="input-group">
	                        <div class="input-group-addon"> <i class="glyphicon glyphicon-user"></i>
	                        </div>
	       					{{ publicacion_form.imagen }}
	                    </div>
	                </div>
            	</div>

            <label class="titulo">Texto de la publicación</label>
            	{{ publicacion_form.texto }}

            {% buttons %}
		        <button class="btn" id="completar" type="submit">Crear Publicación</button>
		    {% endbuttons %}

			</form>
	</div>
</main>

{% endblock %}