{% load staticfiles %}
{% load avatar_tags %}
{% load embed_video_tags %}
{% load i18n %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% lazy_paginate 1,1 publicaciones %}

  {% for publicacion in publicaciones %}
  <div class="row publicacion">
    <p class="fecha_hora">
      {{ publicacion.fecha_hora }}
    </p>
    <h2 class="titulo_publicacion">
      {{ publicacion.titulo }}
    </h2>
    <hr>
    <div class="interior_publicacion">

      {% video publicacion.video as my_video %}
      {% if my_video != '' %}
      <div class="embed-responsive embed-responsive-16by9 video_publicacion">
        {% video my_video %}
      </div>
      {% endif %}
      {% endvideo %}

      {% if publicacion.imagen.url != '' %}
      <img src="{{ publicacion.imagen.url }}" alt="..." class="img-thumbnail center-block imagen_publicacion">
      {% endif %}
    </div>
    <hr>
    <p class="texto_publicacion">
      {{ publicacion.texto }}
    </p>
    <hr>
    <!-- <a href="{% url 'eliminar_publicacion' publicacion.id %}"<li>Eliminar publicación {{ publicacion.id }}</li></a> -->
    <div class="pie_publicacion">

      <a  class="borrar_publicacion" data-toggle="modal" data-target="#modal_borrar_publi" data-id-publi="{{ publicacion.id }}" title="Borrar" href="#?">
        <i class="fa fa-trash"></i>
      </a>

      <a href="{% url 'editar_publicacion' publicacion.id %}" title="Editar"><i class="fa fa-pencil"></i></a>

    </div>
    {% if publicacion.comments.all.count > 0 %}
    <a class="enlace_mostrar" href="#?">Mostrar comentarios({{ publicacion.comments.all.count }}) &#9660;</a>
    <a class="enlace_ocultar" href="#?">Ocultar comentarios &#9650;</a>

    {% if publicacion.comments.all.count == 1 %}
    <div class="div_comentarios_small">
      <!-- Usamos ya la publicación obtenida en el for padre -->
      {% for comentario in publicacion.comments.all %} 
      <hr class="hr_comentario">
      <img src="{% avatar_url comentario.autor %}" class="img-circle">
      <p class="autor_comentario"><b>{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</b></p>
      <p class="texto_comentario">{{ comentario.texto }}</p>
      <p class="fecha_comentario">{{ comentario.fecha_hora }}</p><br>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if publicacion.comments.all.count > 1 %}
    <div class="div_comentarios">
      <!-- Usamos ya la publicación obtenida en el for padre -->
      {% for comentario in publicacion.comments.all %} 
      <hr class="hr_comentario">
      <img src="{% avatar_url comentario.autor %}" class="img-circle">
      <p class="autor_comentario"><b>{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</b></p>
      <p class="texto_comentario">{{ comentario.texto }}</p>
      <p class="fecha_comentario">{{ comentario.fecha_hora }}</p><br>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}

   

  </div>

  {% endfor %}

{% show_more %}