{% extends "base.html" %}
{% load staticfiles %}
{% load avatar_tags %}
{% load embed_video_tags %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_added %}
<link href="{% static "css/modal_avatar.css" %}" rel="stylesheet">
<link href="{% static "css/muro.css" %}" rel="stylesheet">
<link href="{% static "css/long_shadow.css" %}" rel="stylesheet">
<link href="{% static "css/icono_buscar.css" %}" rel="stylesheet">
<link href="{% static "css/icono_cargar.css" %}" rel="stylesheet">
<link href="{% static "css/agenda_eventos.css" %}" rel="stylesheet">
{% endblock %}

{% url 'muro' argument %}

{% block content %}

<div class="div_agenda">
  <p class="eventos">Eventos</p>
  <div class="mi_agenda">

    {% for evento in eventos %}

    <div class="mitad_arriba">
      <span class="span1">{{ evento.fecha_hora|date:"j" }}</span>
    </div>
    <div class="mitad_abajo">
      <span class="span2">{{ evento.fecha_hora|date:"M" }}</span>
    </div>
    <div class="datos_evento">
      <span class="span3">{{ evento.titulo }}</span><br>
      {{ evento.ciudad }}, {{ evento.pais }}
    </div>
    <div class="ver_evento">
       <a href="{% url "ver_evento" evento.id %}"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="opciones_evento">
       <a href="{% url 'editar_evento' evento.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
      <a  class="borrar_evento" data-toggle="modal" data-target="#modal_borrar_evento" data-id-publi="{{ evento.id }}" title="Borrar" href="#?"><i class="fa  fa-close"></i></a>
    </div>

    <hr class="hr_agenda2">

        <!-- Modal -->
    <div class="modal fade" id="modal_borrar_evento" tabindex="-1" role="dialog" aria-labelledby="modal_borrar_eventoLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_borrar_eventoLabel">{% trans "Are you sure that you want to delete this news?" %}</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="borrarEventoSubmit" type="button" class="btn btn-primary">{% trans "Delete" %}</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

    <!--<hr class="hr_agenda1">-->

    <a href="{% url "crear_evento" %} "><button class="btn" id="crear_evento" type="submit">Crear Evento</button></a>
    <a href="{% url "busqueda_avanzada_eventos" %}" title="Buscar Evento" class="buscar_evento"><i class="fa fa-search "></i></a>

  </div>
</div>

<div class="muro">

  <div class="buscar">
    {% csrf_token %}
    <form action="{% url 'busqueda' %}" method="get" id="content">
      <input type="text" name="s" class="input">
      <button type="reset" class="search"></button>
    </form>

    <a href="{% url 'busqueda_avanzada' %}"><button class="btn" id="busqueda_a" type="submit">Búsqueda Avanzada</button></a>
  </div>

  <!--<a href="{% url 'avatar_change' %}" data-toggle="modal" data-target="#theModal">{% avatar user %}</a>-->

  <div class="cabecera_usuario">

    <div class="cabecera_interior">
      <div class="cabecera_nombre md-long-shadow">
        <h2><span> {{ user.username }}</span></h2>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      </div>
    </div>

    <a class="a_img_usuario" href="{% url 'avatar_change' %}" data-toggle="modal" data-target="#theModal"><img src="{% avatar_url user %}" class="img-circle img_usuario"></a>

    <div id="theModal" class="modal fade text-center">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <!--<hr class="hr_1">-->
    <div class="cabecera_descripcion">
      <h3>{{ user.profile.descripcion }}</h3>
    </div>
    
    <!-- <hr class="hr_2"> -->

    <div class="cabecera_deportes">
      {% for deporte in user.profile.deportes.all %}

      {{ deporte }}

      {% endfor %}
    </div>

  </div>

  <a href="{% url "crear_publicacion" %}"><button class="btn" id="crear_publi" type="submit">Crear Publicación</button></a>

  {% include page_template %}
  <img src="{% static "img/cargando.gif" %}" class="cargando" id="cargando">
  <br>

  <a href="#" class="back-to-top"><div class="subir"><i class="fa fa-chevron-up"></i></div></a>

</div>

{% endblock %}

{% block extra_js %}

<!-- Esto es para la ventana modal de desea borrar publicación-->
<script type="text/javascript">
  (function($){   //El jQuery se puede sustituir por $
    $(document).ready(function () {
      $("#borrarPublicacionSubmit").click(function(){
        $.ajax("",
          {method: 'post',
          data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
           //data: {csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()},
           success: function(){
            window.location.href = "{% url "muro" %}";
          }}); 
      });
    });
  })(jQuery);
</script>

<script type="text/javascript">
  $('#modal_borrar_publi').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget);
    var id = button.data('id-publi');
    $("#borrarPublicacionSubmit").click(function(){
      $.ajax("/eliminar_publicacion/" + id + "/",
        {method: 'post',
        data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
           //data: {csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()},
           success: function(){
            window.location.href = "{% url "muro" %}";
          }}); 
    });
  })

</script>

<!-- Esto es para la ventana modal de desea borrar evento-->
<script type="text/javascript">
  (function($){   //El jQuery se puede sustituir por $
    $(document).ready(function () {
      $("#borrarEventoSubmit").click(function(){
        $.ajax("",
          {method: 'post',
          data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
           //data: {csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()},
           success: function(){
            window.location.href = "{% url "muro" %}";
          }}); 
      });
    });
  })(jQuery);
</script>

<script type="text/javascript">
  $('#modal_borrar_evento').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget);
    var id = button.data('id-evento');
    $("#borrarEventoSubmit").click(function(){
      $.ajax("/eliminar_evento/" + id + "/",
        {method: 'post',
        data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
           //data: {csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()},
           success: function(){
            window.location.href = "{% url "muro" %}";
          }}); 
    });
  })

</script>

<!-- Esto es para el buscador -->
<script type="text/javascript">
  function expand() {
    $(".search").toggleClass("close");
    $(".input").toggleClass("square");
    if ($('.search').hasClass('close')) {
      $('.input').focus();
    } else {
      $('.input').blur();
    }
  }
  $('button').on('click', expand);
</script>

<!-- Esto es para subir -->
<script type="text/javascript">
  jQuery(document).ready(function() {
    var offset = 220;
    var duration = 500;
    jQuery(window).scroll(function() {
      if (jQuery(this).scrollTop() > offset) {
        jQuery('.back-to-top').fadeIn(duration);
      } else {
        jQuery('.back-to-top').fadeOut(duration);
      }
    });
    
    jQuery('.back-to-top').click(function(event) {
      event.preventDefault();
      jQuery('html, body').animate({scrollTop: 0}, duration);
      return false;
    })
  });
</script>

<!-- Div comentarios -->
<script language="javascript">
  // Lo ponemos de esta manera que es el modo live, para que no haya problemas con la carga de Ajax
  $(document).on('click', '.enlace_mostrar_ocultar', mostrar_comentarios);

  function mostrar_comentarios(evento) {
    evento.preventDefault();
    $enlace_mostrar_ocultar = $(evento.target);
    $div_comentarios  = $enlace_mostrar_ocultar.next()

    //console.log($enlace_mostrar_ocultar);
    //console.log($div_comentarios);
    if($div_comentarios.css('display') == "block") {
      $div_comentarios.css('display', 'none');
      $enlace_mostrar_ocultar.html("Mostrar comentarios({{ publicacion.comments.all.count }}) &#9660;");
    }
    else {
      $div_comentarios.css('display', 'block');
      $enlace_mostrar_ocultar.html("Ocultar comentarios &#9650;");
    }
  } 
</script>

<!-- Scroll infinito -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>

<!-- Icono cargando -->
<script type="text/javascript">
  $(document).on('ajaxStart', function(){
    $('.cargando').show();
    console.log('Esta cargando');
  }).on('ajaxStop', function(){
    $('.cargando').hide();
  });
</script>

{% endblock %}