{% load staticfiles %}
{% load avatar_tags %}
{% load embed_video_tags %}
{% load i18n %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% lazy_paginate 1,1 publicaciones %}

  {% for publicacion in publicaciones %}
  <div class="row publicacion">
    <p class="fecha_hora">
      {{ publicacion.fecha_hora }}
    </p>
    <h2 class="titulo_publicacion">
      {{ publicacion.titulo }}
    </h2>
    <hr>
    <div class="interior_publicacion">

      {% video publicacion.video as my_video %}
      {% if my_video != '' %}
      <div class="embed-responsive embed-responsive-16by9 video_publicacion">
        {% video my_video %}
      </div>
      {% endif %}
      {% endvideo %}

      {% if publicacion.imagen.url != '' %}
      <img src="{{ publicacion.imagen.url }}" alt="..." class="img-thumbnail center-block imagen_publicacion">
      {% endif %}
    </div>
    <hr>
    <p class="texto_publicacion">
      {{ publicacion.texto }}
    </p>
    <hr>
    <!-- <a href="{% url 'eliminar_publicacion' publicacion.id %}"<li>Eliminar publicación {{ publicacion.id }}</li></a> -->
    <div class="pie_publicacion">

      <a  class="borrar_publicacion" data-toggle="modal" data-target="#modal_borrar_publi" data-id-publi="{{ publicacion.id }}" title="Borrar" href="#?">
        <i class="fa fa-trash"></i>
      </a>

      <a href="{% url 'editar_publicacion' publicacion.id %}" title="Editar"><i class="fa fa-pencil"></i></a>

    </div>
    {% if publicacion.comments.all.count > 0 %}
    <a class="enlace_mostrar_ocultar" href="#?">Mostrar comentarios({{ publicacion.comments.all.count }}) &#9660;</a>

    {% if publicacion.comments.all.count == 1 %}
    <div class="div_comentarios_small" style="display: none">
      <!-- Usamos ya la publicación obtenida en el for padre -->
      {% for comentario in publicacion.comments.all %} 
      <hr class="hr_comentario">
      <img src="{% avatar_url comentario.autor %}" class="img-circle">
      <p class="autor_comentario"><b>{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</b></p>
      <p class="texto_comentario">{{ comentario.texto }}</p>
      <p class="fecha_comentario">{{ comentario.fecha_hora }}</p><br>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if publicacion.comments.all.count > 1 %}
    <div class="div_comentarios" style="display: none">
      <!-- Usamos ya la publicación obtenida en el for padre -->
      {% for comentario in publicacion.comments.all %} 
      <hr class="hr_comentario">
      <img src="{% avatar_url comentario.autor %}" class="img-circle">
      <p class="autor_comentario"><b>{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</b></p>
      <p class="texto_comentario">{{ comentario.texto }}</p>
      <p class="fecha_comentario">{{ comentario.fecha_hora }}</p><br>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="modal_borrar_publi" tabindex="-1" role="dialog" aria-labelledby="modal_borrar_publiLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_borrar_publiLabel">{% trans "Are you sure that you want to delete this news?" %}</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="borrarPublicacionSubmit" type="button" class="btn btn-primary">{% trans "Delete" %}</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endfor %}

{% show_more %}